@media screen and (max-width: 500px) {
  html {
    font-size: 70%;
  }
  .row {
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
  }
  input {
    border-radius: 5px;
    padding: 5% 15%;
  }
  button {
    padding: 5% 20%;
  }
}
